Source: ros-iron-pepper-meshes
Section: misc
Priority: optional
Maintainer: Maxime Busy <mbusy@softbankrobotics.com>
Build-Depends: debhelper (>= 9.0.0), default-jdk, ros-iron-ament-cmake, ros-iron-ros-workspace
Homepage: http://github.com/ros-naoqi/pepper_meshes2/
Standards-Version: 3.9.2

Package: ros-iron-pepper-meshes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-ros-workspace
Description: Meshes for the Pepper robot, for ROS2
